section{
    text-align: center;
    background-color: rgb(247, 244, 241);
}
footer{
    background: rgb(255, 115, 0);
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 5opx;
}


iframe{
    width: 695px;
    height: 590px;
}